<!-- app/templates/dashboard.html -->
{% extends "base.html" %}

{% block content %}
<div class="mt-4">
    <h2>{{ title }}</h2>

    <div class="mt-4">
        {% if records %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Owner</th>
                        <th>Details</th>
                        <th>Status</th>
                        <th>File URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{ record.owner }}</td>
                            <td>{{ record.details }}</td>
                            <td>{{ record.status }}</td>
                            <td><a href="{{ record.file_url }}" target="_blank">{{ record.file_url }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No land records available at the moment.</p>
        {% endif %}
    </div>


</div>
{% endblock %}
